.custombutton{
    border-radius: 8px;
    font-size: 12px;
    margin-bottom:5px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:15px;
    padding-right:15px;
    height: 12px;
    border: 2px solid black;
}
/* pre{
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    width:100%; overflow-x:auto;
    font-size: 14px;
}
   */
.buttonpdf {
  background-color: white; 
  color: #f44336; 
  border: 2px solid #f44336;
}

.buttonpdf:hover {
  background-color: #f44336;
  color: white;
}
  
.buttondoi {
  background-color: rgb(17, 175, 30); 
  color: white;
}

.buttondoi:hover {
  background-color: black;
  color: white;
}

.publicationlist {
    margin: 0px;
}

td {
    padding-bottom: 1em;
}

.publicationlist .title {
    /* font-variant: small-caps; */
    font-size: 1.0em;
}

.publicationlist .bibhidden {
    display: none;
    /*
    transform: scaleY(0);
    transition: all 0.25s ease-in;
    overflow: hidden;
    */
}

.publicationlist .bibvisible {
    display: block;
    /*
    transform: scaleY(1);
    transition: all 0.25s ease-in;
    */
}

.publicationlist .shortAuthors {
    display: block;
    /*
    transform: scaleY(0);
    transition: all 0.25s ease-in;
    overflow: hidden;
    */
}

.publicationlist .longAuthors {
    display: none;
    /*
    transform: scaleY(1);
    transition: all 0.25s ease-in;
    */
}

.footnotecomment {
    font-size: 0.5em;
}

/* make links have no underline */
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }